<div class="container mx-auto mt-10 text-center text-white">
  <h1 class="mb-6 text-5xl font-extrabold">Discover Tools with ToolNest</h1>
  <p class="mb-8 text-lg">Explore a vast collection of developer tools to enhance your workflow.</p>

  <!-- Search Bar -->
  <div class="mx-auto mb-5 max-w-md">
    <div class="relative">
      <input
        type="text"
        placeholder="Search for tools..."
        class="focus:shadow-outline w-full rounded-full border-2 border-white bg-white bg-opacity-25 py-2 px-4 placeholder-white outline-none" />
      <button class="absolute right-0 top-0 mt-3 mr-4">
        <!-- SVG Search Icon -->
      </button>
    </div>
  </div>
  <!-- Search Results (replace with your actual search results) -->
  <div *ngIf="developerTools" class="grid grid-cols-1 gap-8 p-4 md:grid-cols-2 lg:grid-cols-3">
    <div
      *ngFor="let tool of developerTools"
      class="transform overflow-hidden rounded-lg bg-opacity-25 shadow-lg transition duration-300 hover:scale-105 hover:cursor-pointer dark:bg-night-700">
      <!-- <img [src]="tool.image" alt="{{ tool.name }}" class="w-full h-48 object-cover rounded-t-lg">
      <script src="https://gist.github.com/rickragav/86701e97f21cb82a5d221b6941731e24.js"></script> -->
      <div class="rounded-tr-lg px-3 py-3 text-xs" (click)="onToolItem(tool.route)">
        <div class="space-y-2">
          <div class="flex space-x-2 rounded-t-lg p-3 dark:bg-night-900">
            <div class="h-3 w-3 rounded-full bg-orange-500"></div>
            <div class="h-3 w-3 rounded-full bg-green-500"></div>
            <div class="h-3 w-3 rounded-full bg-pink-500"></div>
          </div>
          <p class="text-justify line-clamp-6 dark:text-night-300">
            {{ tool.text }}
          </p>
        </div>

        <div class="py-6 text-start">
          <h2 class="mb-2 text-2xl font-bold">{{ tool.name }}</h2>
          <p class="mb-4 text-gray-400">{{ tool.description }}</p>

          <!-- Additional features or actions (replace with your own) -->
          <button 
            class="focus:shadow-outline-blue hidden rounded-full bg-blue-500 px-4 py-2 text-white focus:outline-none hover:bg-blue-600">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
