<div class="font-poppins">
  <!-- header -->
  <div
    style="width: 80vw"
    class="m-2 mx-auto flex justify-between bg-white px-4 py-4 font-poppins sm:px-8 lg:container">
    <h1 class="text-xl font-semibold text-gray-700">Base64 Image Encode & Decode</h1>
    <h5 class="truncate text-end text-xs text-gray-400">
      Ready to effortlessly converting Base64 to an image? Our online tool is perfect for you. <br />
      Paste your Base64 text and download your image with ease!
    </h5>
  </div>

  <!-- body -->
  <div style="width: 80vw" class="mx-auto flex font-poppins">
    <textarea
      [(ngModel)]="base64ImageUrl"
      style="width: 42.5%; height: 65vh"
      id="message"
      rows="4"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      placeholder="Paste your base64 string"></textarea>
    <div style="width: 15%; height: 65vh">
      <div style="height: 35%"></div>
      <div style="height: 30%" class="m-auto mx-2 flex cursor-pointer flex-col space-y-2 text-center text-gray-500">
        <button (click)="onclickSwitchToEncoder()" class="rounded bg-primary-500 p-2 text-sm text-white hover:bg-primary-600">Switch to encode</button>
        <button
          (click)="downloadFile(base64ImageUrl)"
          class="rounded bg-primary-500 p-2 text-sm text-white hover:bg-primary-600">
          Download
        </button>
      </div>
      <div style="height: 35%"></div>
    </div>
    <div
      style="width: 42.5%; height: 65vh"
      id="message"
      rows="4"
      class="flex w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      placeholder="Enter text">
      <img (error)="errorLoadingBase64Image($event)" class="m-auto" [src]="base64ImageUrl" alt="base64ImageUrl" />
    </div>
  </div>

  <!-- footer -->
  <div
    style="width: 80vw"
    class="m-2 mx-auto flex flex-col justify-between space-y-4 bg-white px-4 py-4 font-poppins sm:px-8 lg:container">
    <h1 class="text-xl font-semibold text-gray-700">Base64 to Image</h1>
    <p class="text-gray-700">
      Transform Base64 strings into vivid images effortlessly using our intuitive online tool. No need for installations
      – just paste your Base64 code, copy to clipboard, and instantly download your image. Experience seamless decoding
      and bring your data to life with ease!
    </p>
    <h1 class="text-lg font-semibold text-gray-700">What can you do with Base64 Image Decoder ?</h1>
    <ul class="m-10 list-disc space-y-2 text-gray-700">
      <li>This tool makes it easy to turn Base64 strings or text into images.</li>
      <li>After converting, download your image as a PNG file or picture</li>
      <li>
        Empower anyone, anywhere, with our accessible online tool. Convert Base64 data into image files without the
        hassle of software installations. Experience convenience at your fingertips!
      </li>
      <li>
        Whether you're on Windows, MAC, Linux, Chrome, Firefox, Edge, or Safari, our Base64 to Image Online tool works
        seamlessly. Experience consistent and reliable conversion across various platforms.
      </li>
    </ul>
    <h1 class="text-lg font-semibold text-gray-700">Supported Image MIME Types</h1>
    <ul class="m-10 list-disc space-y-2 text-gray-700">
      <li>image/jpg</li>
      <li>image/jpeg</li>
      <li>image/gif</li>
      <li>image/png</li>
      <li>image/bmp</li>
      <li>image/ico</li>
      <li>image/svg</li>
      <li>image/webp</li>
    </ul>
  </div>
</div>
